<div class="pokemon-grid">
    <div class="box" 
    *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 100, currentPage: page, totalItems: totalPokemons }"
    >
        <div (click)="openModal(pokemon.name)">
            <img [src]="pokemon.sprites.front_default" alt="{{pokemon.name}}">
            <h3 class="capitalize">{{ pokemon.name }}</h3>
        </div>
    </div>
</div>

<div id="modal_Pokemon" class="modal fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" *ngIf="pokemonData.name != ''">
        <div class="modal-header">
          <h1 class="modal-title fs-5 capitalize" id="exampleModalToggleLabel2">{{ pokemonData.name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <h3>Habilidades</h3>

                <div class="col-12" *ngFor="let ability of pokemonData.abilities">
                    <p>{{ability.ability.name}}</p>
                </div>
            </div>
          
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
      </div>
    </div>
</div>
  

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>